
.date{
    margin: auto;
    width: 300px;
}

.sumit{
    background-color: fff2cc;
    margin: auto;
    height: 200px;
    width: 500px;
}

.form{
    margin: auto;
    width: 250px;
}